/*RESET B´SICO*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*IMPORTANTE PARA O BOX MODEL*/

}
body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(0, 183, 255);

    /*BOX MODEL*/
    padding: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
}

header h3{
    color: white;
}

nav a{
    text-decoration: none;
    color: black;
    margin-right: 40px;
}
nav{
    margin-top: 10px;
}

nav a button{
    padding: 8px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}

/*SEÇÕES*/
section{
    background-color: #fff;
    max-width: 1000px;
    margin: 0 auto; /*CENTRALIZA PÁGINA*/
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/*TÍTULOS*/
h2{
    text-align: center;
    margin-bottom: 15px;
}

/*ARTIGOS*/
article{
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
}

/*LISTAS*/
ul{
    list-style-type: none;
}

/*RODAPÉ*/
footer{
    background-color: rgb(0, 183, 255);
    text-align: center;

    /*BOX MODEL*/
    padding: 15px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    border-radius: 5px;
}
table{
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}


p{
    text-align: center;
}

/*CARROSSEL*/ 
.carrossel{
    width: 700px;
    height: 400px;  /*TAMANHO FIXO*/
    margin: 30px auto 10px; 
    overflow: hidden; /*CORTA O EXCESSO DE IMAGENS*/
    border-radius: 10px;
}

/* IMAGENS */
.carrossel img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* ENCAIXA QUALQUER IMAGEM */
    display: none;
}

/* IMAGEM ATIVA */
.carrossel img.ativa{
    display: block;
}

/* BOTÕES DO CARROSSEL */
.botoes{
    text-align: center;
}
.botoes button{
    padding: 12px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 183, 255);
    color: white;
    font-size: 16px;
}

/* TABELA */
table{
    width: 80%;
    margin-left: 90px;
    border-collapse: collapse;
    border-radius: 5px;
}

table th, table td{
    padding: 10px
}