*{
    padding: 0;
    margin: 0;

}
body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(0, 183, 255);
    padding: 15px;
    text-align: center;
 
}

header h3{
    color: white;
}

nav a{
    text-decoration: none;
    color: black;
    margin-right: 40px;
}
ul{
    padding-left: 20px;
}