body{
    background-color: lightgray;
    margin: 50px;
    display: flex;
    justify-content: center;
}
div{
    text-align: center;
    margin: 50px;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}
button{
    background-color: blue;
 
    padding: 5px;
    color: white;
    cursor: pointer;
}